
body{
  color:#423d39;
  font-family: 'Sanchez', serif;
  /*background:linear-gradient(-47deg, #96cdf8, #e3bea6)  ;*/
}


.container{
  width:960px
  margin:10px auto;
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;

}



/*HEADER*/


.header{
  margin: auto;
  width:100%;
  background-image: url(../img/fond.jpg);
  background-size: cover;
  border-bottom: 40px solid #ddd;
}

.fondheader {
  width:100%;
  z-index: -100;

}


.navbar{

  position:absolute;
  margin:auto;
  background-color: #ddd;
  padding:10px 25px;
  width:100%;

}


.navbar a{
  margin-top: -5.5px;
  padding:10px;
  text-decoration: none;
  color:black;

}

.Entete{
  text-align: center;
  font-family: 'Cinzel', serif;
  margin:auto 0 30px;
  padding: 75px;
  height:200px;

}

.Titre{
  text-align: center;
  margin:auto;
  font-size: 4em;
}

.sous-titre{
  font-family: 'Architects Daughter', cursive;
  font-size: 1.4em;
  border
}

.decoration{
  height:40px;
  width:100%;
  background-image: url(../img/fond.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
}


/*CORPS*/


/****************************************
page principale
*****************************************/

.corps {

margin:auto 10%;
width: 80%;

}


.presentation{
  text-align: center;
  margin:0 10%;
  font-size: 15px;
  height:40%;
}




/**********************************************
page PORTFOLIO
***********************************************/







.portefolio_icon {


  width:450px;
  height:562px;
  border : 4px solid #ddd;
  padding:15px 15px;
  margin:25px 25px;

}

.image_profil {

  background-color: white;
  height:300px;
  width:400px;
  margin:10px 9px;
}


.image_portfolio_JB{

  background-image: url(../img/bennythecook.jpg);
  background-size: cover;
  background-position: center;
}

.item {


  width:400px;
  height:450px;
  /*border : 4px solid #ddd;*/
  padding:15px 15px;
  margin:25px 25px;

}


/*pour que les images entrent dans la céllule*/
.resize {

  width:100%;
  height:100%;
  max-height: 450px;
  max-width: 400px;
}


.portfolio_de_intel{
  font-size: 42px;
  font-family: 'Cinzel', serif;
  text-align: center;
  margin:40px auto;
  width:400px;
  border-bottom: 2px solid #ddd;

}


.titre_de_gallerie{

  text-align: center;

  font-size: 22px;
  margin:40px auto;
  padding-bottom: 5px;
  width:250px;
  border-bottom: 2px solid #ddd;

}

/*FIN DE LA PAGE PORTFOLIO*/



/**********************************************
page CONTACT
************************************************/



.contact-info {
  list-style:non;
  padding:0;
  margin:0;
  font-size: 0.9em;

}
.contact-info a {
  display:block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size:20px 20px;
  padding: 0 0 0 30px;
}

.contact-info li .phone a {
  background-image:url('../img/phone.png');
}

.contact-info li .mail a {
  background-image:url('../img/mail.png');
}

.contact-info li .facebook a {
  background-image:url('../img/facebook.png');
}

/*FIN PAGE CONTACT*/



/*****************************
Page A propos
********************************/

.profile-photo {
  display:block;
  max-width:300px;
  margin: 50px auto 50px;
  border-radius: 200px;
}



/*FIN DE PAGE APROPOS*/

/*Barre de navidation*/

.navigation{



}

.navigation ul{
  list-style: none;
}

.navigation ul li a{

  text-decoration: none;

}




/*FOOTER*/


footer{
  position:relative;
  margin-top: 50px;
  height:  200px;
  width: auto;
  padding: 48px 0;
  background-image: url(../img/fond.jpg);
  background-size: cover;
  background-position: bottom;
  color: #fff;
}

.dropdown {
  align-items:center;
  background:none;
  background-color: #484848;
  border: 0;
  color: #fff;
  display: block;
  padding: 8px 10px;
  width: 100%;

}
